$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  font-weight: 300;
  font-size: 14px;

  p {
    background-color: $bg-color;
  }
}

.navItem {
  color: white;
  transition: 1s;
  font-family: sans-serif;
  font-size: 16px;
}

.blackBack {
  background-color: black;
}

.colorBlue {
  background-color: #244173;
}

#navTitle {
  font-size: 30px;
}

.nav-item {
  padding-right: 10px;
  font-size: 19px;
}
